APPLICATIONICON Icon "MainIcon.ico"
ASSOCIATEDICON Icon "associated.ico"
Z_BTNADDENABLE Icon "b_add_on.ico"
Z_BTNADDDISABLE Icon "b_add_off.ico"
Z_BTNEXTRACTENABLE Icon "b_ext_on.ico"
Z_BTNEXTRACTDISABLE Icon "b_ext_off.ico"
Z_BTNOPENENABLE Icon "b_opn_on.ico"
Z_BTNOPENDISABLE Icon "b_opn_off.ico"
Z_BTNCOPYENABLE Icon "copy.ico"
Z_BTNCOPYDISABLE Icon "copy_black.ico"
Z_BTNREPLACEENABLE Icon "replace.ico"
Z_BTNREPLACEDISABLE Icon "replace_black.ico"
Z_BTNDELETEENABLE Icon "DeleteFiles.ico"
Z_BTNDELETEDISABLE Icon "DeleteFiles_black.ico"
Z_BTNSEARCH Icon "Vista_Search.ico"